<!DOCTYPE html>

<html>

<head>

    {% block head %}

    {# materialize stuff here #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="theme/css/main.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    {% endblock %}

    <title> {% block title %}{% endblock %} </title>

    <meta name="title" content="Myles' Wesbite">
    <meta name="description" content="A personal blog about computing science">
    <meta name="keywords" content="technology, software, computing, computing science, blog">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-16">
    <meta name="language" content="English">
    <meta name="author" content="Myles Lamb">

</head>

<body>
    <nav class="white z-depth-3">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo black-text">{{SITENAME}}</a>
            <ul class="right hide-on-med-and-down">
                <li> <a href="#" class="black-text">Blog</a></li>
                <li> <a href="#" class="black-text">About</a></li>
                <li> <a href="pdf/resume.pdf" class="black-text" download>CV</a></li>
                <li> <a href="#" class="black-text">Contact</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li> <a href="#" class="black-text">Blog</a></li>
                <li> <a href="#" class="black-text">About</a></li>
                <li> <a href="pdf/resume.pdf" class="black-text" download>CV</a></li>
                <li> <a href="#" class="black-text">Contact</a></li>
            </ul>

        </div>
    </nav>

    <!-- container for content stuff-->
    <main>
    <div class="container content">
        {% block body %}

        {% endblock %}
    </div>
</main>

    <!-- footer -->
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col s8">
                    <h5 class white-text>
                        Other stuff
                    </h5>

                    This site uses Pelican static site generator, and the Matierlize CSS Framework

                </div>

                <div class="col s4">
                    <h5 class white-text>
                        External Links
                    </h5>

                    <ul>
                        <li>
                            <i class="fab fa-github" aria-hidden="true"></i>
                            <a href="https://github.com/mylesalamb" class="white-text"> Github </a>
                        </li>

                        <li>
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <a href="https://twitter.com/MylesaLamb" class="white-text">Twitter</a>
                        </li>
                        
                        <li>
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <a href="https://instagram.com/mylesaLamb" class="white-text">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>