{% extends 'base.html' %}


{% block title %}
Homepage
{% endblock %}

{% block body %}

<div class="row">

    <div class="col m12 l7">
        <div class="row center">
            <img alt="avatar" class="responsive-img circle hide-on-med-and-down" src="img/avatar.jpg">
        </div>
        <h4>About me</h4>
        <p class="flow-text">
            I'm Myles, a 4th year Computer Science student studying at Glasgow University.
             I am passionate about GNU/Linux and the OSS community. I'm currently running <a href="https://getfedora.org/">Fedora Linux</a> 
             on my main system and <a href="https://voidlinux.org/">Void Linux</a> on my secondary machine. Over the summer this year I will be working at
             Morgan Stanley as an Application Development Intern, I am excited to be working at a company that continually innovates and is passionate about technology.</p>

    </div>
    <div class="col l1"></div>

    <div class="col m12 l4">
        <h4>Recent stuff I'm up to</h4>
        {% for article in articles[:3] %}
        <div class="card grey hoverable">

            <div class="card-content white-text">
                <span class="card-title">{{ article.title }}</span>
                {{ article.date|strftime('%d %B %Y') }}
                {{ article.summary }}
            </div>

            <div class="card-action">
                <a href="{{article.url}}">Full Article</a>
            </div>
        </div>
        {% endfor %}


    </div>


</div>
{% endblock %}