{% extends 'base.html' %}


{% block title %}
Homepage
{% endblock %}

{% block body %}

<div class="row">

    <div class="col m12 l7">
        <div class="row center">
            <img alt="avatar" class="responsive-img circle hide-on-med-and-down" src="img/avatar.jpg">
        </div>
        <h4>About me</h4>
        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla posuere porttitor purus id condimentum.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Etiam tristique nibh dui, id mattis turpis maximus id. Nunc ac semper orci,
            aliquet scelerisque augue. Duis blandit commodo turpis, at ultrices turpis placerat sed.
            Nullam nulla risus, malesuada vitae diam at, posuere cursus sem. Quisque lobortis lacinia urna, a feugiat
            est. Duis consequat dictum mattis. Nam eu tellus ac nibh facilisis mattis. Sed gravida luctus convallis.
            Quisque tellus quam, imperdiet vel urna sit amet, efficitur consequat mi. Vestibulum vitae nunc eros. </p>

    </div>
    <div class="col l1"></div>

    <div class="col m12 l4">
        <h4>Recent stuff I'm up to</h4>
        {% for article in articles[:3] %}
        <div class="card grey hoverable">

            <div class="card-content white-text">
                <span class="card-title">{{ article.title }}</span>
                {{ article.date|strftime('%d %B %Y') }}
                {{ article.summary }}
            </div>

            <div class="card-action">
                <a href="{{article.url}}">Full Article</a>
            </div>
        </div>
        {% endfor %}


    </div>


</div>
{% endblock %}