.code {
    background-color: #f6f8fa;
    margin: 0 0 10px;
  }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body li {
  list-style-type: circle !important
}

main {
  margin-top: 20px;
  margin-bottom: 10px;
  flex: 1 0 auto;
}